<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282104601377-t5rki43n7oprhp82gi8n15mhp72akdbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282104601377-t5rki43n7oprhp82gi8n15mhp72akdbf</string>
	<key>API_KEY</key>
	<string>AIzaSyCe5kuQS94nXqRYJR2sv8NxnCb9yNWhtFU</string>
	<key>GCM_SENDER_ID</key>
	<string>282104601377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingWithYou</string>
	<key>PROJECT_ID</key>
	<string>shopping-with-you-f64a0</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-with-you-f64a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282104601377:ios:ef3acba9af95ab824c3c60</string>
</dict>
</plist>